* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
}

body {
  background: #271D2C;
  background: repeating-linear-gradient(45deg, #271D2C 0%, #271D2C 10%, #221C21 0%, #221C21 50%) 0/15px 15px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0px rgba(255, 195, 30, 0.623);
  }
  to {
    text-shadow: 0px 0px 40px rgba(255, 195, 30, 0.856);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 0px rgba(255, 195, 30, 0.623);
  }
  to {
    text-shadow: 0px 0px 40px rgba(255, 195, 30, 0.856);
  }
}

.loading-container {
  background: #271D2C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#271D2C), to(#221C21));
  background-image: linear-gradient(#271D2C, #221C21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.loading-container.loading-container_close {
  opacity: 0;
  visibility: hidden;
}

.loading-container .inner {
  text-align: center;
}

.loading-container .inner span i {
  -webkit-animation: glow 700ms alternate infinite;
          animation: glow 700ms alternate infinite;
  color: rgba(255, 195, 30, 0.336);
  font-size: 3.5rem;
}

.loading-container .inner h3 {
  color: #fff;
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: .125em;
  margin-top: 2em;
  text-shadow: 0px 0px 10px rgba(255, 195, 30, 0.562);
}

section#card {
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px #333;
          box-shadow: 1px 1px 10px #333;
  border-radius: 5px;
  width: 25em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section#card h2 {
  border-bottom: 1px solid rgba(51, 51, 51, 0.192);
  color: #333;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 1.5em;
  text-align: center;
}

section#card div.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#card div.items .item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: .75em;
  text-align: center;
  text-transform: capitalize;
}

section#card div.items .item h3,
section#card div.items .item i {
  color: #333;
  font-size: .9rem;
}

section#card div.items .item h3 {
  font-weight: 300;
  margin: .75em 0;
}

section#card div.items .item:not(.last) {
  border-right: 1px solid rgba(51, 51, 51, 0.233);
}

@media (max-width: 25em) {
  section#card {
    max-width: 20em;
  }
  section#card div.items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  section#card div.items .item:not(.last) {
    border-right: 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.205);
  }
}
/*# sourceMappingURL=style.css.map */