* {
   box-sizing: border-box;
   font-family: inherit;
}

body {
   background: #271D2C;
   background: repeating-linear-gradient(45deg, #271D2C 0%, #271D2C 10%, #221C21 0%, #221C21 50%) 0/15px 15px;
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

// Animations
@keyframes glow {
   from {
      text-shadow: 0 0 0px rgba(255, 195, 30, 0.623);
   }

   to {
      text-shadow: 0px 0px 40px rgba(255, 195, 30, 0.856);
   }
}

// Main styles
.loading-container {
   background: #271D2C;
   background-image: linear-gradient(#271D2C, #221C21);

   display: flex;
   align-items: center;
   justify-content: center;

   transition: all 300ms ease;
   visibility: visible;

   // Pos
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   &.loading-container_close {
      opacity: 0;
      visibility: hidden;
   }

   .inner {
      span {
         i {
            animation: glow 1s alternate infinite;
            color: rgba(255, 195, 30, 0.336);
            font-size: 3.5rem;
         }
      }
   }
}